html, body, #map {
    height: 98%;
    margin: 0;
    padding: 0;
}

#buttons {
    margin: 0 auto;
    text-align: center;
}

#give_up {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, #EDEDED), to(#DFDFDF));
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    color: #777;
    cursor: pointer;
    font-weight: bold;
    height: 19px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: white 1px 1px 34px;
    width: 200px;
    display: inline-block;
}
